{% extends 'home.html' %}
{% load static %}
{% load highlight %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/customer_charge.css' %}">
{% endblock %}

{% block content %}
    {% include 'search_group.html' %}
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <button type="button" id="add-btn" class="btn btn-outline-success"
                    data-bs-toggle="modal" data-bs-target="#addModal">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-plus-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                </svg>
                新 增
            </button>
        </div>
    </nav>
    <div>
        <table class="table table-bordered table-hover table-prior" style="text-align: center">
            <thead><tr>
                <th scope="col" class="col-1">ID</th>
                <th scope="col" class="col-1">类型</th>
                <th scope="col" class="col-1">金额</th>
                <th scope="col" class="col-1">订单号</th>
                <th scope="col" class="col-1">创建日期</th>
            </tr></thead>
            <tbody class="table-group-divider">
            {% for row in pager.queryset %}
                <tr row-id="{{ row.id }}">
                    <th scope="row">{{ row.id }}</th>
                    <td><span><button class="btn btn-{{ row.charge_type|highlight }}">{{ row.get_charge_type_display }}</button></span></td>
                    <td>{{ row.amount }}</td>
                    <td>
                        {% if row.order_id %}
                            {{ row.order_id }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>{{ row.create_datetime|date:"Y/m/d H:i:s" }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div>
        <nav>
            <ul class="pagination justify-content-center">
                {{ pager.page_html_string }}
            </ul>
        </nav>
    </div>

<!-- Modal -->
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="addModalLabel">添 加</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <form method="post" novalidate id="add_charge_form">
              {% csrf_token %}
              {% for field in form %}
                  <div style="position: relative; margin-bottom: 30px;" class="input-group">
                      <span class="input-group-text">{{ field.label }}</span>
                      {{ field }}
                      <span style="position: absolute;color: red;bottom: -25px;left: 20px;" class="{{ field.name }}-error-span"></span>
                  </div>
              {% endfor %}
              <span style="position: absolute;color: red;bottom: 4px;" class="__all__-error-span"></span>
          </form>
      </div>
      <div class="modal-footer">
        <button type="button" cid="{{ customer_id }}" class="btn btn-primary" id="confirm-btn">确 认</button>
        <button type="button" id="cancel-btn" class="btn btn-dark" data-bs-dismiss="modal">取 消</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
<script src="{% static 'js/customer_charge.js' %}"></script>
{% endblock %}