{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>邮箱登录页面</title>
    <link rel="stylesheet" href="{% static 'bootstrap-5.3.2/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/email_login.css' %}">
</head>
<body>
<div class="box border border-secondary">
    <form method="post" novalidate>
        {% csrf_token %}
        <div class="row"><h3 style="text-align: center;">邮 箱 登 录</h3></div>
        {% for field in form %}
            <div class="row">
                <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                <span class="{{ field.name }}-error field-error">{{ field.errors.0 }}</span>
            </div>
            <div class="input-group">
                {{ field }}
                {% if field.name == 'code' %}
                    <button class="btn btn-outline-secondary" type="button" id="send-btn">发送验证码</button>
                {% endif %}
            </div>
        {% endfor %}
        <div class="row btn-bottom">
            <div class="col-auto">
                <button id="login-btn" type="button" class="btn btn-primary">登 录</button>
            </div>
            <div id="account-login" class="col-auto"><a href="{% url 'login' %}" class="link-primary">用 户 名 登 录</a>
            </div>
            <span class="__all__-error">{{ form.errors.0 }}</span>
            <span class="clearfix"></span>
        </div>
    </form>
</div>
</body>
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'bootstrap-5.3.2/js/bootstrap.bundle.js' %}"></script>
<script src="{% static 'js/email_login.js' %}"></script>
<script src="{% static 'js/csrf.js' %}"></script>
</html>